body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.image-text-container {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.image {
    border-radius: 10px;
    margin-right: 20px;
}

.text-block h1 {
    margin: 0;
    color: #000;
    font-size: 24px;
}

.text-block p {
    margin: 0;
    color: #555;
}

.image-explanation-container {
    position: relative;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.image-large {
    max-width: 40%;
    border-radius: 20px;
}

.slide-number {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 50%;
}
