* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  position: relative;
  height: 100vh;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 0; Reset the default margin */
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 0.25rem;
}
.content {
  /* this is a temporay fix unitl I figure out how to do 
   1. click the menu 
   2. push down the content
   3. click the menu 
   4. content push back */
  flex: 1; /* This will push the footer down */

  position: relative;
  top: 2.25rem;
}
.navbar {
  margin-left: 4vw;
  margin-right: 4vw;
  background-color: white;
  height: 5rem;
  width: 90vw;
  display: flex; /* this make the elements inside aligns in the same box */
  align-items: center; /* this make the elements aligns cross axis aka vertically */
  /* position: relative; */
  /* border: 0.5rem solid green; */
  /* overflow: auto; */
  justify-content: space-between;
}
.logo {
  color: white;
  height: 4rem;
  float: left;
  line-height: 5rem;
  /* border: 0.5rem solid pink; */
  /* margin: 0.5rem 0 0 0.5rem; */
}
.menubar {
  color: #333;
  font-size: 2rem;
  line-height: 5rem;
  /* margin-right: 2.5rem; */
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  right: 2.5rem;
  /* border: 0.5rem solid blue; */
}

.navlinks {
  height: 5rem;
  align-items: center; /* this make the elements aligns cross axis aka vertically */
  justify-content: space-around;
  display: flex; /* this make the elements inside aligns in the same box */
  /* border: 0.5rem solid yellow; */
  float: left;
}

/* Style for the dropdown icon */
.dropdown-icon {
  display: inline-block;
}

.navbar a {
  color: #333;
  font-size: 1rem;

  margin-left: 1rem; /* big screen mode, turn this on to have spacing*/

  /* display: flex; */
  /* display: inline-block; */
  /* line-height: 5rem; */
  /* text-transform: uppercase; */
  border-radius: 0.1875rem;
  padding: 0.4375rem 0.8125rem;
  /* white-space: nowrap; Prevent wrapping of text */
  /* border: 0.5rem solid pink; */
  text-align: center;
}

.subnav .subnav_dropbtn {
  display: block; /* Use flexbox for alignment */
  align-items: center; /* Align text and icon vertically */
  white-space: nowrap; /* Prevent wrapping of text */
  text-align: center;

  justify-content: center; /* Center content horizontally */
}
.subnav .dropdown-icon {
  margin-left: 5px; /* Space between the text and the icon */
}

.navbar a.active,
.navbar a:hover,
#active {
  background: #29abe2;
  transition: 0.3s ease;
  color: white;
}
.navlinks {
  position: relative;
  display: flex;

  /* flex-direction: row; */
}

/* Style the dropdown-contentcontent - positioned absolute */
.dropdown-content {
  display: none;
  position: absolute; /* this sets to be 
                      absolute for the hortional one
                      this affects the vertical ones */
  left: 8%;
  /* transform: translateX(14.5%); */
  /* margin-left: 4vw; */
  padding: 0.2rem 0.5rem;

  /* margin-right: 4vw; */
  width: 100%;
  z-index: 1;
}

#oct_dropdown {
  left: 5%;
}

#interactive_dropdown {
  /* position: absolute; */
  left: 25%;
}

.dropdown-content a {
  display: inline-block;
  font-size: 0.8rem;
  border: 0.05rem solid #29abe2;
  color: #333;
  margin: 0.2rem 0.5rem;

  /* background-color: #29abe2; */
}

.dropdown-content a:hover {
  display: inline-block;
  color: #29abe2;
  background-color: white;
  /* background-color: #29abe2; */
}

.subnav:hover .dropdown-content {
  display: block;
}

.image_container {
  /* display: flex; this makes them side by side  */
  display: flex; /* Use flexbox */

  align-content: center;
  position: relative;
  width: 85%;
  margin: 0 auto; /* Center it */

  justify-content: center; /*  Center horizontally */
  align-items: top; /* Centers items vertically */
  /* border: 0.5rem solid red; */
}
.right_img_container {
  display: flex; /* Use flexbox */
  position: relative;
  margin: 0 auto; /* Center it */
  top: 0.5rem;
  width: 100%;
  height: 100%;
  justify-content: center; /*  Center horizontally */
  /* border: 0.5rem solid blue; */
}

#fisrtWord {
  margin-top: 1vw;
}

#fisrtWord::first-letter {
  font-size: 2rem;
  color: #29abe2;
}

.right_text_box {
  font-size: 0.8rem; /* here uses vw as the size change is big */
  margin-top: 0.35rem; /* here uses vw as the size change is big */
  font-weight: normal;
  color: #333;
}

.left_img_container {
  display: flex; /* Use flexbox */
  position: relative;
  margin: 0 auto; /* Center it */

  justify-content: center; /*  Center horizontally */
  width: 100%;
  height: 100%;

  /* border: 0.5rem solid blueviolet; */
}

.right_img {
  width: 100%;
  border-radius: 0.5vw; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */

  /* border: 0.5rem solid pink; */
}

.right_img_content {
  display: flex; /* Use flexbox */
  margin: 0 auto; /* Center it */
  position: relative;
  width: 80%;
  justify-content: center; /*  Center horizontally */
}

.right_img_overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  color: white;
  padding: 0.5vw; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */
  text-align: left;
  border-radius: 0.5vw; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */
  /* border: 0.5rem solid orange; */
}

.right_img_capation {
  font-size: 0.8rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
}

.left_img {
  width: 100%;
}

.footer {
  background-color: hsla(0, 0%, 95%, 2.5%);
  padding: 0.5rem 0;
  margin-top: 1.5rem;
  text-align: center;
  /* left: 0;
  bottom: 0; */
  width: 100%;
  /* position: absolute; */
  /* border: #262626 solid 0.1rem; */
}
.footer-content {
  color: #333;
  font-size: 0.75rem;
  margin: 0 auto;
}

.content {
  margin: 1rem; /* controls the spacing  bewteeen content and other elements*/
}
.title_h1 {
  margin-left: 4vw;
  margin-right: 4vw;
  color: black;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  font-weight: normal;
}

.title_h2 {
  color: white;
  font-size: 1vw; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */
  margin-bottom: 0.5vw; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */
  font-weight: normal;
}

.image_caption {
  font-size: 0.8rem; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */
  margin-bottom: 0.05rem; /* when drastic change is expected in responsive, uses vw, otherwise uses rem  */
  font-weight: normal;
}

.subtitle {
  margin-left: 4vw;
  margin-right: 4vw;
  font-size: 1rem;
  color: #333;
  font-weight: normal;
  margin-top: 0.1rem;
  margin-bottom: 0.625rem;
  font-style: italic;
}
.paragraph {
  margin-left: 4vw;
  margin-right: 4vw;

  color: #333; /* Dark gray text for the paragraph */
  font-size: 1rem; /* adjust as needed */
  line-height: 1.5rem; /* Adjust for readability */
  margin-bottom: 1.5vw; /* spacing between paragraphs */
  text-align: justify;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 120%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 858px) {
  .logo {
    font-size: 2rem;
    padding-left: 3.125rem;
  }
  /* Styles for the navlinks container */
  .navbar {
    margin-left: -2vw;
    margin-right: -2vw;
  }
  .menubar {
    display: block;
  }

  .navlinks {
    /* height: 4rem; */
    display: flex;
    left: -105%;
    /* margin-left: 1rem; */

    text-align: center;
    /* transition: 0.3s ease; */
    z-index: 1000;

    flex-direction: column; /* Stack children vertically */
    width: 100vw; /* Full width to match its parent */
    /* position: relative; */
    height: auto;
    top: 5.5rem;
    background: #262626;
    position: fixed;
    height: auto;
    overflow-y: auto;
    background-color: rgba(0, 86, 179, 0.8); /* Darker blue on hover */
  }

  .navlinks a {
    margin-left: 0; /*reset this to be 0 so it's full width in the vertical mode*/
  }
  /* Styles for each nav item and dropdown button */
  .navlinks a,
  .navlinks .subnav_dropbtn {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    display: block;
    background: transparent;
    width: 100%; /* Full width to match navlinks */
    text-align: center;
    cursor: pointer;
    outline: none;
    /* Add hover effects or additional styles for nav items here */
  }

  /* Subnav button positioning context */
  .subnav {
    position: static; /* Use static so that dropdown content pushes items down */
    width: 100%; /* Ensure the subnav matches the width of navlinks */
  }

  /* Dropdown content style */
  .dropdown-content {
    position: static; /* this sets to be 
                          static for the vertical one
                          this affects the vertical ones */
    display: none; /* Hidden by default */
    flex-direction: column; /* Align dropdown links vertically */
    margin-left: -0.05rem;

    width: 100%; /* Match the width of navlinks */
  }

  /* Display the dropdown content when the subnav is active */
  .subnav.active .dropdown-content {
    display: flex; /* Display the dropdown */
  }

  /* Styles for the dropdown links */
  .dropdown-content a {
    text-decoration: none;
    border: none;
    color: white; /* White text for contrast on blue bg */
    text-align: center; /* Align text to the left */
  }

  .navlinks a:hover {
    margin-right: -2vw;
    color: #29abe2;
    background-color: hsl(0, 0%, 97%);
    /* border: #29abe2 0.5rem; */
    border: 0.1rem outset rgba(0, 86, 179, 0.9);
    transition: 0.3s ease;
  }

  .navlinks.active {
    left: 0;
    /* transition: 0.3s ease; */
    transition: 0.3s ease-in-out;
    overflow-y: auto;
  }
}

/* below is styling for each page */

.image_container2Column {
  display: flex;
  width: 80%;
  position: relative;
  margin: auto; /* Center the container itself */
  justify-content: center; /* Horizontally center content */
  /* border: 1rem solid blue; */
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.image_containerColumn {
  width: 100%;
  position: relative;
  /* border: 1rem solid pink; */
}

/*controls p1*/
.fig_caption {
  font-style: italic;
  display: table-caption;
  padding-bottom: 1%;
}

/*controls p1 1st image*/
#p1_img1_r {
  width: 70%;
  bottom: 0;
  left: 15%;
  position: absolute;
  /* border: 1rem solid pink; */
}
.cap_fig_container {
  display: table;
}
#p1_img1_fig_caption {
  caption-side: top;

  /* border: 0.1rem solid orange; */
}

/*controls p1 2nd image*/
#p1_img2_r {
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 5%;
  /* border: 1rem solid yellow; */
}

#p1_img2_l {
  width: 100%;
  position: relative;
  top: -2.5%;
  /* border: 1rem solid pink; */
}

/*controls p1 3rd image*/

#p1_img3_r {
  width: 70%;
  bottom: 5%;
  left: 15%;
  position: absolute;
  /* border: 1rem solid pink; */
}

#p1_img3_fig_caption {
  caption-side: top;
}

/*controls p2 1rd image*/

#p2_main {
  /* width: 100%; */
  /* border: pink solid 1rem; */
  display: flex;
  justify-content: space-evenly; /* align item along the main axis, horizontally*/
  /* align-items: center; align item along the cross axis, vertically */
}

#sidebar {
  /* width: 40%; */
  /* position: absolute; */
  max-width: 40%;
  display: flex;
  height: 80%;

  /* display: flex; flex -> align item  */
  /* align-items: center; align item along the cross axis, vertically */
  /* border: yellow solid 1rem; */
  /* margin-left: -2rem;

  margin-right: 5rem;
  padding-left: 1rem;
  padding-right: 1rem; */
  /* background-color: hsl(0, 0%, 97%); */
  /* border-radius: 0.3rem; */
  box-sizing: border-box;
  padding-right: 0.5rem;
  /* position: relative; */
  justify-content: center;
  align-items: center;
}
#sidebar ul {
  /* position: absolute; */
  display: flex;
  background-color: hsl(0, 0%, 97%);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.3rem;

  flex-direction: column;
  gap: 0.25rem;
  justify-content: space-around;

  list-style-type: none;

  /* border: pink 0.5rem solid; */
}

#sidebar ul li {
  margin-top: 1rem;
  text-align: left;

  background-color: hsl(0, 0%, 97%);
}

#sidebar ul li a {
  color: #333;
}
#sidebar ul li a.active {
  color: #29abe2;
}

#sidebar ul li:hover {
  border-bottom: 0.1rem solid #333;
}

#me_oct {
  width: 40%;
  display: flex;
  justify-content: center;
  /* border: 0.1rem solid red; */
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#oct_doppler,
#oct_3D {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}

#oct_3D_cap {
  caption-side: bottom;
  text-align: left;
  margin-top: 0.5rem;
}
#oct_doppler_cap {
  caption-side: top;
  text-align: right;
  margin-bottom: 0.5rem;
}
/* 

/* below this is for the oct basics page */
#bullet_point {
  list-style: disc;
  color: #333;
  margin-left: 6vw;
  font-size: 1rem; /* adjust as needed */
  line-height: 1rem; /* Adjust for readability */
  margin-bottom: 1.5vw; /* spacing between paragraphs */
  /* text-align: justify; */
  text-align: left;
}
u {
  text-decoration: underline;
}
#main_wrapper {
  margin: 0.5rem auto;

  /* border: 0.5rem solid pink; */
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fig_content {
  height: 90%;
  /* border: 0.5rem solid green; */
}
#interferometry_1 {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5rem solid green; */
}
#interferometry_img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#interferometry_cap {
  caption-side: bottom;
  /* position: relative; */
  text-align: left;
  margin-bottom: 2rem;
}

#td_oct {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

#td_oct_img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

/* below this is for the oct development page */
#oct_aline_1 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5rem solid green; */
}

#oct_aline_img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#oct_aline_cap {
  caption-side: bottom;
  /* position: relative; */
  text-align: left;
  margin-bottom: 1rem;
}

#td_2d_oct {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#td_2d_oct_img {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#oct_2d_cap {
  caption-side: bottom;
  /* position: relative; */
  text-align: left;
}

#oct_dev {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 0.1rem solid red; */
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#history,
#fd_oct {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#fd_oct_1_cap {
  caption-side: top;
  /* position: relative; */
  text-align: left;
}
#fd_oct_2_cap {
  caption-side: bottom;
  /* position: relative; */
  text-align: left;
}

#implementation_oct {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#implementation_oct_img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

/* below this is for the oct realisation page */

#oct_realization {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.5rem solid green; */
}

#oct_realization_img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#system_detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#system_detail_img {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

/* below this is for the publication page */

#pubpage_title,
#expand-collapse {
  display: inline-block;
}
#pubpage_title {
  float: left;
}
#expand-collapse {
  display: flex;
  justify-content: right;
  margin-right: 4%;
  margin-bottom: 2rem;
  cursor: pointer;
}

.publication-list {
  /* margin-left: 8vw;
  margin-right: 4vw; */
  list-style: none;
  /* border: 0.5rem pink solid;
  background-color: aqua; */
  margin-left: 4%;
  margin-right: 4%;
}
.publication-year {
  cursor: pointer;
  user-select: none;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: #333 0.05rem solid;
}
.publications {
  padding-left: 0;
}
.publication {
  margin: 1rem 0;
  list-style: none;
  /* /* display: flex; */
}
.pub_title {
  font-size: 1rem;
}

.pub_title,
.pub_author,
.pub_abstract,
#pub_link {
  margin-top: 0.2rem;
}

.thumbnail_container {
  width: 50%;
  height: auto; /* Maintain aspect ratio */
  margin: 0.5rem auto;
}

.thumbnail_img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
/* 
/*  */

.wrapper_container {
  /* border: pink 0.5rem solid; */
  margin: 1rem auto;
  width: 80%;
  height: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}
.horizontal_container {
  /* border: green 0.5rem solid; */
  margin: 0 auto;
  width: 100%;
  height: 100%;

  /* display: block; */
}

.vertical_container {
  /* border: red 0.5rem solid; */
  height: 50%;
  display: flex;
  position: relative;
}

.group-picture,
.school_image {
  width: 100%;
  /* border: yellow 0.5rem solid; */
}

#group-picture {
  width: 100%;
}
.center_image {
  display: flex;
  align-items: center;
  justify-content: center;
}
#school_image {
  height: 100%;
  position: absolute;
}

iframe {
  width: 70%;
  height: auto;
  max-width: 70%;
  max-height: 50%;
  position: absolute;
}

#right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section {
  margin-left: 8vw;
  margin-top: 1rem;
  width: 80%;
}
.individual-contact {
  margin-top: 0.5rem;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.contact_img_container {
  width: 12.5%;
}
.contact_img {
  width: 100%;
  border-radius: 50%;
  min-width: 100px;
  max-width: 150px;
  float: right;
}
.info {
  margin-left: 0.7rem;
}
.contact_affiliation {
  /* this allows for multiline text entry*/
  white-space: pre-wrap;
}
.contact_icons {
  margin-left: -1%;
  display: flex;
  width: 20%;
  justify-content: start;
  gap: 1rem;
  margin: auto 0;
}

.contact_icons a {
  font-size: 1.25rem;
  color: #333;
}

.contact_icons a:hover {
  color: #555;
}

#backToTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  font-size: 1.75rem;
  color: #333;
  display: none;
  transition: 0.3s ease-in-out;
}
#backToTopBtn:hover {
  color: #555; /* Icon color on hover */
}

/* media control for responsive text */
@media screen and (max-width: 858px) {
  .fig_caption,
  #sidebar ul li {
    font-size: 50%;
  }
  .image_caption {
    font-size: 45%;
  }
  #index_img1_title {
    font-size: 60%;
  }
  .contact_img_container {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .fig_caption,
  #sidebar ul li {
    font-size: 100%;
  }
  .image_caption {
    font-size: 50%;
  }
  #index_img1_title {
    font-size: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .fig_caption,
  #sidebar ul li {
    font-size: 110%;
  }
  .image_caption {
    font-size: 60%;
  }
  #index_img1_title {
    font-size: 80%;
  }
}
